
body, footer {
    background-color: #275685; /* Change the background color */
    color: #000000; /* Change the default text color */
    font-family: Arial, sans-serif; /* Change the default font */
}

  .img.top-image {
    border-radius: 50%;
    vertical-align: middle;
 }

 .logo-container {
    display: flex; /* Use flexbox for positioning */
    align-items: center; /* Align items vertically */
  }
  
  .logo-box {
    width: 50px; /* Width of the box */
    height: 50px; /* Height of the box */
    background-color: #ccc; /* Background color of the box */
    margin-left: 10px; /* Margin between the logo and the box */
  }
  
  .website-name {
    margin-left: 10px; /* Margin between the box and the website name */
    color: black;
    font-size: 24px;
    font-family: Helvetica;
  }
  .top, .mid, .bot  {
    color: #f1f1f1;
    padding: 10px;
    border: black;
    background-color: white;
    border-radius: 10px;
    position: relative;
    
}
.top::before {
    content: '';
    position: absolute;
    top: 60%; /* Adjust the percentage to position the line vertically */
    right: 0;
    width: 94.8%;
    height: 1px; /* Adjust the height of the line */
    background-color: black; /* Change the color of the line */
    z-index: 1; /* Ensure the line appears above other content */
}

.navigations {
position: absolute;
top: 0;
left: 0;
width: 130%;
text-align: center;
font-size: 25px;
padding: 40px 0;


}
.navigations a{ /* navigation's link */
  margin: 80px;
    text-decoration: none;
    color: #666;
}
.navigations a:hover{ /* navigation when hover */
  color: #000;
}
.in {
color: black; 
text-align: center;
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
}
.in ul { 
    list-style-type: none; /* remove the default order */
    padding: 0; /* remove the default padding */
    margin: 0; /* remove the default margin */
}
.in li {
display: inline;   /* order on the same line */
margin-right: 180px; /* change the spacing between text */
}

